*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-image: url(../images/undraw_sleep_analysis_o5f9.png);

}
.content{
    border-radius: 10px;
    position: absolute;
    content: "#";
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 60px 30px;
    width: 350px;
    transform: translate(-50%, -50%);
    background: #395B64;
    border: 1px solid #A5C9CA;
    box-shadow: 0 0 5px #395B64;
    opacity: 90%;
}
.content header{
    color: #A5C9CA;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "poppins", Inter ;
}
.field{
    position: relative;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.field span{
    width: 15px;
    line-height: 5px;
    color: #A5C9CA;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    color: #A5C9CA;
    font-size: 16px;
    font-family: "Poppins", inter;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 600;
    color: #A5C9CA;
    display: none;
    cursor: pointer;
    font-family: "Poppins", inter;

}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
     text-align: left;
     margin: 10px 0;

}
.pass{
    color: white;
    text-decoration: none;
    font-family: "Poppins", inter;
}
