*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-image: url(../images/undraw_sleep_analysis_o5f9.png);

}
.content{
    border-radius: 10px;
    position: absolute;
    content: "#";
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 60px 30px;
    width: 350px;
    transform: translate(-50%, -50%);
    background: black;
    border: 1px solid #A5C9CA;
    box-shadow: 0 0 5px #E7F6F2;
    opacity: 60%;
}
.content header{
    color: #A5C9CA;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "poppins", Inter ;
}
.content p{
    color: #A5C9CA;
}
#sign_up{
    color: #A5C9CA;
    text-decoration: none;
}
#sign_up:hover{
    text-decoration: underline;
}
.field{
    position: relative;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.field span{
    width: 25px;
    line-height: 15px;
    color: #A5C9CA;

}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    color: #A5C9CA;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.space{
    margin-top: 16px;
}
.show{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 600;
    color: #A5C9CA;
    display: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
     text-align: left;
     margin: 10px 0;
}
.pass a{
    color: #A5C9CA;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.pass:hover a{
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #A5C9CA;
    border: 2px solid #A5C9CA;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: 3s ease;
}
.field input[type="submit"]:hover{
    background: #A5C9CA;
}
.login{
    color: black;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
